.hublin-live-conference-app {
  height: auto !important;
  width:100%;
  margin-bottom: 0;
  position:absolute;
  bottom: 0;
}

.hublin-live-conference-container {
  .container-fluid {
    padding: 0;
  }
}
