// http://www.colourlovers.com/palette/167875/Death_Of_A_Salesman
@brand-primary: #991818;
@brand-danger: #9DD3DF;
@gray-darkest: #3B3737;
@gray: #C9D1D3;
@gray-lighter: #F7F7F7;
@placeholder-text: #bbbbbb;
