.meetings-landing-page(ng-controller='meetingsLandingPageController')
  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header.page-scroll
        span.navbar-brand.page-scroll
          span.logo-hublin Hubl
          span.gray-lighter .in
          span.beta-overlay Beta
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
  section.create.text-center
    div.create-conference-div
      h2.tagline An easy and free OpenPaaS video service
    #supported
      conference-create-form.conference-box(bs-affix data-offset-top="200")
    #unsupported.text-center
      include ../../commons/unsupported-mini
  section.quickstart#quickstart
    .container
      .row.text-center
        .col-lg-12
          h2 Start with Hubl.in!
      .row.text-center
        .col-md-3
          img(src='http://open-paas.org/images/feature_contact.jpg')
          p Choose a new room name or stay with the default. Fancy or random ? The choice is yours.
        .col-md-3
          img(src='http://open-paas.org/images/feature_profile.jpg')
          p Allow your browser to use your camera and microphone. It seems that 100% of video conferences are more efficient with sound and video.
        .col-md-3
          img(src='http://open-paas.org/images/feature_videoconference.jpg')
          p You're in! Invite your contacts to join the room: your contacts can invite their contacts, who can invite their contacts...
        .col-md-3
          img(src='http://open-paas.org/images/feature_search.jpg')
          p That's all. Enjoy Hubl.in from your desktop, smartphone or tablet. It's open, free, easy to use and always available
  section.about.bg-light-gray#about
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading What is Hubl.in?
          h3.section-subheading.text-muted Hubl.in is a free and open source video conference solution built with love and ethic. It's the best way to initiate a communication anywhere with anybody and brings real time conversation to the next level. Hubl.in allows free communication without additional plugins. If you can read this page, you probably can use Hubl.in right now. Give it a try !
      .row.text-center
        .col-md-4
          span.fa-stack.fa-4x
            i.fa.fa-square.fa-stack-2x.text-primary
            i.fa.fa-sort-alpha-asc.fa-stack-1x.fa-inverse
          h4.service-heading Complete & Sweet
          p.text-muted Simple but full featured: temporarily disable your microphone or camera, invite easily your guests, switch camera between attendees and much more!
        .col-md-4
          a(href="#webRTCModal" data-toggle="modal")
            span.fa-stack.fa-4x
              i.fa.fa-square.fa-stack-2x.text-primary
              i.fa.fa-user-secret.fa-stack-1x.fa-inverse
          h4.service-heading Safe
          p.text-muted Based on WebRTC technologies which allows decentralized  communication between browsers. Your video conference is not streamed to Hubl.in in any way.
        .col-md-4
          span.fa-stack.fa-4x
            i.fa.fa-square.fa-stack-2x.text-primary
            i.fa.fa-code.fa-stack-1x.fa-inverse
          h4.service-heading Open Source
          p.text-muted Strongly involved in open source philosophy, Hubl.in is made available in the respect of its users. Feel free to consult, react or contribute to the code on #[a.fa.fa-github(href='http://github.com/linagora/hublin' target='_blank')  Github]
  section.social#social
    .container
      .row
        .col-lg-6.text-justify
          h2 About us  ?
          h4
            a(href='http://open-paas.org')
              img(src='../../images/oplogo.png')
          p Hubl.in is a video conference service provided by #[a(href='http://open-paas.org') Open-PaaS], the open social platform. As the OpenPaaS team, we are pleased to separate this service from of our main product and let everyone enjoy it.  We are enthusiastic open source developers and we hope you will live Hubl.in as we do. Respectful to open source philosophy and standards, for us community contributions are like Christmas presents. Don't hesitate to get in touch.
          h4
            a(href='http://linagora.com')
              img(src='../../images/linagora.png')
          p Thanks to #[a(href='http://linagora.com') Linagora] which supports the open source world and gives us the opportunity to release several projects such as Hubl.in in this domain.
        .col-lg-6.text-center
          h2 Follow Us!
          ul.social-buttons
            li
              a(href='https://www.youtube.com/channel/UCgCZPNq1-g49VfOaxjbExlg' target='_blank')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-youtube
            li
              a(href='http://twitter.com/AwesomePaaS' target='_blank')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-twitter
            li
              a(href='https://www.facebook.com/Linagora' target='_blank')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-facebook-square
            li
              a(href='http://github.com/linagora/hublin' target='_blank')
                span.fa-stack
                  i.fa.fa-square.fa-stack-2x
                  i.fa.fa-github-alt
  section.contact#contact
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading #{__('Leave us a message')}
          h3.section-subheading.text-muted #{__('We love feedbacks')}!
      .row
        .col-lg-12
          form
            .row
              .col-md-6
                .form-group
                  input#name.form-control(type='text', placeholder='Your Name *', required='', data-validation-required-message='Please enter your name.')
                  p.help-block.text-danger
                .form-group
                  input#email.form-control(type='email', placeholder='Your Email *', required='', data-validation-required-message='Please enter your email address.')
                  p.help-block.text-danger
              .col-md-6
                .form-group
                  textarea#message.form-control(placeholder='Your Message *', required='', data-validation-required-message='Please enter a message.')
                  p.help-block.text-danger
              .clearfix
              .col-lg-12.text-center
                #success
                button.btn.btn-xl(type='submit') Send Message
  footer
    .container
      .row
        .col-md-4
          span.copyright Copyright &copy; Linagora 2015
        .col-md-4
        .col-md-4
          ul.list-inline.quicklinks
            li
              a(href='#') Privacy Policy
            li
              a(href='#') Terms of Use
  #webRTCModal.full-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              span.fa-stack.fa-4x
                i.fa.fa-square.fa-stack-2x.text-primary
                i.fa.fa-video-camera.fa-stack-1x.fa-inverse
              h2 Web RTC
              p.item-intro.text-muted Web Real-Time Communication
              p WebRTC is a free, open project that provides browsers and mobile applications with Real-Time Communications (RTC) capabilities via simple APIs. The WebRTC components have been optimized to best serve this purpose.
              p Take a look to #[a(href='http://www.webrtc.org/') Web RTC website] for more information.
              button.btn.btn-primary(type='button', data-dismiss='modal')
                i.fa.fa-times
                | Close
  script(src='js/thirdparty/animatedheader.js')