.meetings-landing-page(ng-controller='meetingsLandingPageController')
  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header.page-scroll
        a.navbar-brand.page-scroll(href='#page-top')
          span.logo-hublin Hubl
          span.gray-lighter .in
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a.page-scroll(href='#about') About
          li
            a.page-scroll(href='#contact') Contact
  section.create
    .container-fluid
      .row
        .col-xs-12.text-center
          h2 An easy and free OpenPaaS video service
          conference-create-form.conference-box(bs-affix data-offset-top="150")
  section.about.bg-light-gray#about
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading What is hublin?
          h3.section-subheading.text-muted An easy and free OpenPaaS video service
      .row.text-center
        .col-md-4
          a(href="#opensourceModal" data-toggle="modal")
            span.fa-stack.fa-4x
              i.fa.fa-circle.fa-stack-2x.text-primary
              i.fa.fa-code-fork.fa-stack-1x.fa-inverse
          h4.service-heading Open Source
          p.text-muted
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
        .col-md-4
          a(href="#openstandardModal" data-toggle="modal")
            span.fa-stack.fa-4x
              i.fa.fa-circle.fa-stack-2x.text-primary
              i.fa.fa-asterisk.fa-stack-1x.fa-inverse
          h4.service-heading Open Standards
          p.text-muted
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
        .col-md-4
          a(href="#secureModal" data-toggle="modal")
            span.fa-stack.fa-4x
              i.fa.fa-circle.fa-stack-2x.text-primary
              i.fa.fa-lock.fa-stack-1x.fa-inverse
          h4.service-heading Secure
          p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
  section.contact#contact
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading Leave us a message
          h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
      .row
        .col-lg-12
          form
            .row
              .col-md-6
                .form-group
                  input#name.form-control(type='text', placeholder='Your Name *', required='', data-validation-required-message='Please enter your name.')
                  p.help-block.text-danger
                .form-group
                  input#email.form-control(type='email', placeholder='Your Email *', required='', data-validation-required-message='Please enter your email address.')
                  p.help-block.text-danger
                .form-group
                  input#phone.form-control(type='tel', placeholder='Your Phone')
                  p.help-block.text-danger
              .col-md-6
                .form-group
                  textarea#message.form-control(placeholder='Your Message *', required='', data-validation-required-message='Please enter a message.')
                  p.help-block.text-danger
              .clearfix
              .col-lg-12.text-center
                #success
                button.btn.btn-xl(type='submit') Send Message
  footer
    .container
      .row
        .col-md-4
          span.copyright Copyright &copy; Linagora 2015
        .col-md-4
          ul.list-inline.social-buttons
            li
              a(href='http://twitter.com/linagora')
                i.fa.fa-twitter
            li
              a(href='http://github.com/hublin')
                i.fa.fa-github-alt
        .col-md-4
          ul.list-inline.quicklinks
            li
              a(href='#') Privacy Policy
            li
              a(href='#') Terms of Use
  #opensourceModal.full-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              h2 Open Source
              p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
              button.btn.btn-primary(type='button', data-dismiss='modal')
                i.fa.fa-times
                | Close
  #openstandardModal.full-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              h2 Open Standards
              p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
              button.btn.btn-primary(type='button', data-dismiss='modal')
                i.fa.fa-times
                | Close
  #secureModal.full-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-content
      .close-modal(data-dismiss='modal')
        .lr
          .rl
      .container
        .row
          .col-lg-8.col-lg-offset-2
            .modal-body
              h2 Secure
              p.item-intro.text-muted Lorem ipsum dolor sit amet consectetur.
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
              button.btn.btn-primary(type='button', data-dismiss='modal')
                i.fa.fa-times
                | Close
  script(src='js/thirdparty/animatedheader.js')