section.configuration
  .modal-dialog.modal-md
    .modal-content.modal-hublin
      .modal-header
        h2 Welcome to
          a.hublin-logo #[span.logo-hublin Hubl]#[span.gray-lighter .in] #[span.beta-overlay Beta]
      .modal-body
        conference-configuration