.hublin-live-conference-video-container(live-conference, live-conference-auto-reconnect, invitation-dialog-launcher, live-conference-editor-controller)
  ui-view
  stream-video
  browser-error-dialog
  browser-authorization-dialog
  live-conference-notification(conference-id='{{conference._id}}')
  report-dialog#reportModal
  disconnect-dialog#disconnectModal
  devmode-dialog.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  live-conference-editor
