.hublin-live-conference-video-container(live-conference, live-conference-auto-reconnect,
invitation-dialog-launcher, live-conference-editor-controller)
  conference-video
  browser-authorization-dialog
  live-conference-notification(conference-id='{{conference._id}}')
  invitation-dialog#invite(conference='conference')
  report-dialog#reportModal
  disconnect-dialog#disconnectModal
  devmode-dialog.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  live-conference-editor
