section.configuration
  .modal-dialog.modal-md
    .modal-content.modal-hublin
      .modal-header
        h2!= __j('Welcome to %s', "span.hublin-logo #[span.logo-hublin Hubl]#[span.gray-lighter .in] #[span.beta-overlay Beta]")
      .modal-body
        conference-configuration
