.col-xs-12.hublin-live-conference-container
  conference-video
  browser-authorization-dialog
  live-conference-notification(conference-id='{{conference._id}}')
  invitation-dialog#invite(conference='conference')
