devmode-launcher
div.logo-conference
  a(href='/', target='_self') #[span.logo-hublin Hubl]#[span.gray-lighter .in] #[span.beta-overlay Beta]
.hublin-live-conference-container
  .container-fluid
    .row
      div(ng-view)
