section.goodbye
.modal-dialog.modal-lg
  .modal-content.left.modal-hublin
    .modal-header
      h2.gray-lighter #{__('Thank you for using')}
        a.hublin-logo #[span.logo-hublin Hubl]#[span.gray-lighter .in] #[span.beta-overlay Beta]
    .modal-body.text-center
      p
        span #{__('Did you enjoy the experience? Spread the word!')}
        include ../../commons/socialshare
      p
        button.btn.btn-xl(type='button', ng-click='reopen()') #{__('Reopen the room')}
      p
        span #{__('or create a new one')}
        conference-create-form
    .modal-footer
      include ../../commons/whatis