div(ng-switch='process.step')
  div(ng-switch-when='configuration')
    div(ng-include="'/views/live-conference/partials/configuration.html'", ng-controller='configurationController')
  div(ng-switch-when='conference')
    div(ng-include="'/views/live-conference/partials/conference.html'", ng-controller='liveConferenceController')
