div
  .information-box(ng-repeat='action in conferenceLeftActions'
  ng-controller='dropDownController')
    .left(ng-bind-html="action.onLeft")
    .middle
      div(ng-bind-html='action.beforeButton')
      .btn-group
        button.btn(type='button' ng-click='getButton().callback()')
          span(ng-bind-html='getButton().beforeLink')
          |  {{ getButton().text }}
          span(ng-bind-html='getButton().afterLink')
        button.btn.dropdown-toggle(type='button' data-toggle='dropdown')
          span.caret
        ul.dropdown-menu(role='menu')
          li(ng-repeat='button in action.buttons')
            a(ng-click='setButton($index, action.buttons) && button.callback()')
              span(ng-bind-html='button.beforeLink')
              |  {{button.text}}
              span(ng-bind-html='button.afterLink')
      div(ng-bind-html='action.afterButton')
    .right(ng-bind-html='action.onRight')
