form.form-inline
  .form-group
    input.form-control(type='text', placeholder='{{username}}', required='', ng-model='displayName')
  button.btn.btn-xl(type='button' ng-click='setDisplayName()') Join
