doctype html
html
  head

    include ../commons/meta.pug
    include ../commons/facebook-markup.pug
    include ../commons/utils.pug
    include ../commons/twitter-markup.pug

    title Hubl.in, the Awesome video conference service

    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css')
    link(rel="stylesheet", href="/components/lightbox2/css/lightbox.css")
    link(href='/components/github-fork-ribbon-css/gh-fork-ribbon.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Merienda:700', rel='stylesheet', type='text/css')

    link(href='/css/hublin.css', rel='stylesheet')

    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/lodash/dist/lodash.min.js')
    script(src='/components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/components/URIjs/src/URI.min.js')
    script(src='/components/angular/angular.min.js')
    script(src='/components/angular-ui-router/release/angular-ui-router.min.js')
    script(src='/components/lightbox2/js/lightbox.min.js')
    script(src='/components/angular-route/angular-route.min.js')
    script(src='/components/angular-cookies/angular-cookies.min.js')
    script(src='/components/restangular/dist/restangular.min.js')
    script(src='/components/angular-uuid4/angular-uuid4.min.js')
    script(src='/components/angular-strap/dist/angular-strap.min.js')
    script(src='/components/angular-strap/dist/angular-strap.tpl.min.js')
    script(src='/components/dynamic-directive/dist/dynamic-directive.min.js')
    script(src='/components/angular-translate/angular-translate.min.js')

    //- <!--build:js({.tmp,frontend}) meetings.js-->
    script(src='/js/modules/user/user.js')
    script(src='/js/modules/utils/uri.js')
    script(src='/js/modules/utils/wizard.js')
    script(src='/js/modules/utils/language.js')
    script(src='/js/modules/session/session.js')
    script(src='/js/modules/configuration/configuration.js')
    script(src='/js/modules/conference/module.js')
    script(src='/js/modules/conference/conference.js')
    script(src='/js/modules/i18n/i18n.module.js')
    script(src='/js/modules/i18n/i18n.constants.js')
    script(src='/js/modules/i18n/i18n.config.js')
    script(src='/js/modules/i18n/i18n.filter.js')
    script(src='/js/modules/i18n/i18n.service.js')
    script(src='/js/modules/i18n/i18n-dateformat.service.js')
    script(src='/js/modules/i18n/i18n-interpolator.service.js')
    script(src='/js/modules/i18n/i18n-loader.service.js')
    script(src='/js/modules/i18n/i18n-string.service.js')
    script(src='/js/meetings/app.js')
    script(src='/js/thirdparty/adapter.js')
    script(src='/js/thirdparty/modernizr.js')
    //- <!--endbuild-->

    script(src='/js/constants.js')
    +injectJSFromModules('meetings', injections)

  body.hublin-app.ng-cloak#page-top.index(ng-app='meetingsApplication')
    #wrap
      include partials/landing-page.pug

    .unsupported.text-center
      include ../commons/unsupported.pug
