form.form-inline.conference-form
  .form-group
    label
      a.page-scroll(href='#page-top') Hubl
        span.gray-lighter .in/
    input.form-control.conference-input(type='text', placeholder='{{room}}', required='')
    button.btn.btn-lg(type='submit') Start!