form.form-inline.conference-form
  .form-group
    label.hublin-label
      span.page-scroll hubl
        span.gray-lighter .in/
    input.form-control.conference-input(ng-model='room', type='text', maxlength='200', automatic-orientation, ng-focus='selectMe($event)')
    button.btn.btn-lg(type='submit', ng-click='go()') #{__('Start!')}