form.form-inline.conference-form
  .form-group
    label http://hubl.in/
    input.form-control.conference-input(type='text', placeholder='{{room}}', required='')
    button.btn.btn-lg(type='submit') hubl!
