form.form-inline.conference-form
  .form-group
    label
      a.page-scroll(href='#page-top') hubl
        span.gray-lighter .in/
    input.form-control.conference-input(ng-model='room', type='text')
    button.btn.btn-lg(type='submit', ng-click='go()') #{__('Start!')}