.alert.alert-warning
  button(type="button", class="close", ng-click="$hide()") &times;
  span #{__('You are about to join the conference without camera. You will not be able to activate it once in the conference.')}

