meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='description', content="Hubl.in is a free and open source video conference solution built with love and ethic. It's the best way to initiate a communication anywhere with anybody and brings real time conversation to the next level. Hubl.in allows free communication without additional plugins. If you can read this page, you probably can use Hubl.in right now. Give it a try!")
meta(name='author', content='Linagora - http://linagora.com')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name="keywords" content="hublin, linagora, webconference, opensource, free, webrtc")