meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='description', content="Hubl.in is a free and open source video conference solution built with love and ethic. Hubl.in allows free communication without additional plugins.")
meta(name='author', content='Linagora - http://linagora.com')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name="keywords" content="hublin, linagora, webconference, opensource, free, webrtc, open, source, videoconference, openpaas, open-paas, easyrtc, videochat, privacy, security")
link(rel='publisher' href='https://plus.google.com/110831155962387402340')