.social
  ul(ng-social-buttons data-url="'https://hubl.in'"
  data-title="'Hublin, free and open source video conference'"
  data-description="'I just had a nice video conference with Hubl.in #free #opensource #webrtc'"
  data-image="'https://hubl.in/hubl.png'")
    li.ng-social-facebook Facebook
    li.ng-social-twitter Twitter
    li.ng-social-google-plus Google+
    li.ng-social-github(user="linagora" repository="openpaas-esn") GitHub
