.whatis
  p
    span Hublin is a free and open source video conference solution built with &hearts; and ethic propelled by #[a(href='http://open-paas.org' target='_blank') Open-PaaS]
  p
    span No additional plugin required, no advertisement, only a great experience we are pleased to share with community.