.whatis
  p
    span #{__('Hubl.in is a free and open source video conference solution built with love, designed with ethics in mind, and propelled by')}&nbsp;
    span
      a(href='http://open-paas.org' target='_blank') Open-PaaS
  p
    span #{__('No additional plugins are required, no advertisements are displayed, only a great videoconferencing experience we are pleased to share with the community')}.