.modal-dialog.modal-lg
  .modal-content.text-center.modal-hublin
    .modal-header
      button.close(type='button', data-dismiss='modal', aria-label='Close')
        span(aria-hidden='true') &times;
      h4 #{__('Dev mode')}
    .modal-body
      div(ng-show='!devMode.peerCount')
        strong.text-center No remote peer
      div(ng-repeat='attendee in devMode.attendees')
        div(ng-show='attendee.easyrtcid')
          div
            b {{attendee.displayName}}
            | &nbsp;({{attendee.easyrtcid}})
          div
            div P2P connection:
              i.fa.fa-check(ng-show="attendee.connectionStatus", title='{{attendee.connectionStatusMessage}}')
              i.fa.fa-times(ng-hide="attendee.connectionStatus", title='{{attendee.connectionStatusMessage}}')
              | &nbsp;
              button(ng-click='devMode.sendTestMessage("sendDataP2P", attendee.easyrtcid)') Test SendDataP2P
            div &nbsp;DataChannel:
              i.fa.fa-check(ng-show="attendee.dataChannelStatus")
              i.fa.fa-times(ng-hide="attendee.dataChannelStatus")
              | &nbsp;
              button(ng-click='devMode.sendTestMessage("sendData", attendee.easyrtcid)') Test SendData
            div Websocket connection:&nbsp;
              button(ng-click='devMode.sendTestMessage("sendDataWS", attendee.easyrtcid)') Test WS
        br
    .modal-footer
