include ../commons/header

h2 Hi there!

p #{from} invites you to join a video conference on&nbsp;
  a(href="htt://hubl.in") Hubl.in

p: a(href='#{link}') Click on this link to join.

include ../commons/footer
