doctype html
html
  head
    include ../commons/meta
    include ../commons/facebook-markup
    include ../commons/utils
    include ../commons/twitter-markup

    base(href='/')

    title Hubl.in!

    link(rel='icon', type='image/png', href='images/logo-tiny.png')
    link(rel='stylesheet', href='/components/pines-notify/pnotify.core.css')
    link(rel='stylesheet', href='/components/pines-notify/pnotify.buttons.css')
    link(rel='stylesheet', href='/components/pines-notify/pnotify.picon.css')
    link(rel='stylesheet', href='/components/pines-notify/pnotify.history.css')
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/components/angular-social/angular-social.css')
    link(rel='stylesheet', href='/components/angular-motion/dist/angular-motion.min.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Merienda:700')
    link(rel='stylesheet', href='/css/hublin.css')
    link(rel='stylesheet', href='/css/live-conference.css')
    link(rel='stylesheet', href='/components/angular-resizable/angular' +
    '-resizable.min.css')
    +injectCSSFromModules('live-conference', injections)
    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/jquery-resize/jquery.ba-resize.min.js')
    script(src='/components/underscore/underscore.js')
    script(src='/js/thirdparty/modernizr.js')
    script(src='/components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/components/pines-notify/pnotify.core.js')
    script(src='/components/pines-notify/pnotify.buttons.js')
    script(src='/components/pines-notify/pnotify.callbacks.js')
    script(src='/components/pines-notify/pnotify.confirm.js')
    script(src='/components/pines-notify/pnotify.desktop.js')
    script(src='/components/pines-notify/pnotify.history.js')
    script(src='/components/pines-notify/pnotify.nonblock.js')
    script(src='/components/URIjs/src/URI.min.js')
    script(src='/components/angular/angular.js')
    script(src='/components/angular-route/angular-route.min.js')
    script(src='/components/angular-cookies/angular-cookies.min.js')
    script(src='/components/angular-animate/angular-animate.min.js')
    script(src='/components/angular-sanitize/angular-sanitize.min.js')
    script(src='/components/restangular/dist/restangular.min.js')
    script(src='/components/angular-strap/dist/angular-strap.min.js')
    script(src='/components/angular-strap/dist/angular-strap.tpl.min.js')
    script(src='/components/angular-moment/angular-moment.min.js')
    script(src='/components/angular-pines-notify/src/pnotify.js')
    script(src="/components/angular-social/src/scripts/00-directive.js")
    script(src="/components/angular-social/src/scripts/02-facebook.js")
    script(src="/components/angular-social/src/scripts/03-twitter.js")
    script(src="/components/angular-social/src/scripts/04-google-plus.js")
    script(src="/components/angular-social/src/scripts/09-github.js")
    script(src="/components/angular-social/src/scripts/12-linkedin.js")
    script(src="/components/matchmedia/matchMedia.js")
    script(src="/components/matchmedia-ng/matchmedia-ng.js")
    script(src='/components/localforage/dist/localforage.min.js')
    script(src='/components/angular-localforage/dist/angular-localForage.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/easyrtc/easyrtc.js')
    script(src='/easyrtc/labs/easyrtc_rates.js')

    script(src='/components/angular-uuid4/angular-uuid4.min.js')
    script(src='/components/re-tree/re-tree.min.js')
    script(src='/components/ng-device-detector/ng-device-detector.min.js')

    //- <!--build:js({.tmp,frontend}) live-conference.js-->
    script(src='/components/opangular/src/easyrtc.js')
    script(src='/components/opangular/src/easyrtc/services.js')

    script(src='/components/opangular/src/socketio.js')
    script(src='/components/opangular/src/socketio/services.js')

    script(src='/js/modules/utils/wizard.js')
    script(src='/js/modules/configuration/configuration.js')

    script(src='/js/modules/authentication/authentication.js')

    script(src='/js/modules/user/user.js')
    script(src='/components/opangular/src/notification.js')
    script(src='/components/opangular/src/notification/services.js')

    script(src='/js/modules/websocket/websocket.js')
    script(src='/components/opangular/src/websocket/services.js')

    script(src='/js/modules/live-conference/live-conference.js')
    script(src='/components/angular-liveconference/dist/live-conference.all.js')

    script(src='/components/opangular/src/localstorage.js')
    script(src='/components/opangular/src/localstorage/services.js')

    script(src='/components/angular-resizable/angular-resizable.min.js')

    +injectAngularFromModules('live-conference', injections)
    +injectJSFromModules('live-conference', injections)
    script(src='/js/modules/utils/uri.js')
    script(src='/js/modules/utils/language.js')
    script(src='/js/modules/session/session.js')
    script(src='/js/modules/invitation/invitation.js')
    script(src='/js/modules/invitation/email.js')
    script(src='/js/modules/report/report.js')
    script(src='/js/modules/conference/conference.js')
    script(src='/js/modules/live-conference-devmode/live-conference-devmode.js')
    script(src='/js/modules/i18n/i18n.js')
    script(src='/js/live-conference/app.js')
    script(src='/js/analytics/constants.js')
    script(src='/js/analytics/ga.js')
    script(src='/js/analytics/piwik.js')
    //- <!--endbuild-->

  body.hublin-live-conference-app.ng-cloak(ng-app='liveConferenceApplication' ng-controller="sessionInitLiveConferenceController")
    #wrap(ng-include='session.template')

    #unsupported.text-center
      include ../commons/unsupported
