div.conference-video.fullscreen#multiparty-conference(local-speak-emitter,
auto-video-switcher, ng-style="paneStyle", dynamic-directive="conference-video")
  conference-user-video
  .conference-attendees-bar(ng-style="attendeesBarStyle")
    ul.content(scale-to-canvas, ng-style="attendeesBarContentStyle")
      li(ng-repeat="id in conferenceState.videoIds", ng-hide="!conferenceState.attendees[$index]", dynamic-directive='attendee-thumbail-container')
        conference-attendee-video(video-index="$index", on-video-click="streamToMainCanvas", video-id="{{id}}", attendee="conferenceState.attendees[$index]", show-report='showReport')
  conference-user-control-bar(show-invitation='showInvitation', on-leave='onLeave', conference-state="conferenceState")
