.row
  .col-xs-12
    .text-center
      label #{__('Set your name in this room')}
      form.conference-form(name='usernameForm')
        .configuration-field-group.input-group
          input.form-control(type='text', autofocus, trim='true', ng-model='configuration.displayName', name='displayname', id='displayname', placeholder=__('Your Name'), required, automatic-orientation, ng-change='onUsernameChange()')
          .input-group-btn
            button.btn.btn-md.btn-primary(ng-disabled="!usernameForm.$valid || lengthError", type='submit' ng-click='wizard.nextStep()') #{__('Next')}
        p.help-block.text-danger(ng-show='lengthError') #{__('The name you chose is too long.')}
        bitrate-configuration
        disable-video-configuration
