.row
  .col-lg-12
    form.form-horizontal.conference-form
      .form-group(ng-controller='usernameController')
        label.col-lg-4.col-xs-12 #{__('Enter your name in this room')}
        input.form-control.col-lg-4.col-xs-12(type='text', required='', ng-model='configuration.displayName')

      br

      bitrate-configuration

  .pull-right
    button.btn.btn-primary(type='button' ng-click='wizard.nextStep()') #{__('Next')}