.row
  .col-lg-12
    p #{__('Set your name in this room')}
    .text-center
      form.form-inline.conference-form(name='usernameForm')
        .form-group
          input.form-control(type='text', trim='true', ng-model='configuration.displayName', name='displayname', id='displayname', placeholder="#{__('Your Name')}", required)
          button.btn.btn-xl(ng-disabled="!usernameForm.$valid", type='button' ng-click='wizard.nextStep()') #{__('Next')}

        br

        bitrate-configuration